<h1>Listing slideshows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slideshows.each do |slideshow| %>
      <tr>
        <td><%= slideshow.name %></td>
        <td><%= link_to 'Show', slideshow %></td>
        <td><%= link_to 'Edit', edit_slideshow_path(slideshow) %></td>
        <td><%= link_to 'Destroy', slideshow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slideshow', new_slideshow_path %>
