<h1>Greeting#index</h1>
<p>Find me in app/views/greeting/index.html.erb</p>


<h1> <%= @welcome_message %> </h1>

<h1>Simple expression</h1> 
<p>Tommy is <%= @age %> years old</p>

<h1>Iteration using scriptlets</h1> 
<% for i in 1..5 %> 
	<p>Heading number <%= i %> </p>
<% end %>  

<h1>A simple table</h1>

<table> 
	<tr> 
		<% @table["headings"].each do |head| %>
		<td> 
			<b> <%= head %> </b> 
		</td> 
		<% end %> 
	</tr> 

	<% @table["body"].each do |row| %> 
		<tr>
			<b><%= row.each do |col| %>
				<td> 
					<%= col %>
				</td> 
			<% end %> 
		</tr>
		<% end %> 
	</table>